#I am using TH3D's EzABL as a probe. It is not replacing the Z endstop, you'll still use that. 
#So don't unplug your z endtstop cable to put it into the EzABL control box. 
#You are instead going to wire a new connection going from the MCU to the control box. 
#After you are able to do a bed_mesh_calibrate, you can add the command to your slicer
#start g-code or your print_start macro.
#I also have have included z_tilt, only usuable if you have dual Z 
#and they are wired to their own stepper driver. If your dual Z
#uses a Y-spltter cable, you won't be able to use z_tilt.
Any Questions about this config, you can email me at L.perez511@hotmail.com


[probe]
pin: ^!PA0 #Probe-Stop Connection on SKR 2 #don't forget to add the '^'
z_offset: 2.0 #Measure per your specific setup

#Move nozzle to center of bed. issue command G90.
#Then G0 z0.
#Place a 1mm spacer between the probe and the bed, then tighten into place. 
#Move hotend up 1mm using controls. Adjust the brass screw until 
#the red light is just barely lit and don't turn it any further. 
#Be sure it stays lit when you remove the screwdriver
#and your hands. So now the probe is 1mm higher than the nozzle and your offset is 2mm.

x_offset: 41.75 # negative = left of the nozzle
y_offset: 7 # negative = in front of of the nozzle

#Follow the instructions under Probe calibration section 
#of the Klipper documentation to set offsets correctly.
#Ignore Calibrating probe Z offset section, we calibrated manually.

speed: 5.0
lift_speed: 30.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
[bed_mesh]
speed: 300
horizontal_move_z: 3
mesh_min: 42,19
mesh_max: 245,232
probe_count: 7,7
relative_reference_index: 24
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.


[z_tilt]
z_positions:
    0,117
    235,117
    # Don't adjust these
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
    8,124 #left side of bed
    197,124 #right side of bed
    #You can adjust these to nozzle x,y position where the probe 
    #is in the midpoint of your bed
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 300
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 15
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.01
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.
